.category-list {
  background-color: var(--background-2);
  padding: 24px;
  border-radius: 12px;
}

.category-list__title {
  margin-bottom: 24px;
}

.category-list__content {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.category-list__content .active {
  border-bottom: 4px solid var(--black-1);
  margin-bottom: -4px;
}