.home-page {
  display: grid;
  grid-template-columns: auto;
  padding: 0 16px;
  margin-top: 128px;
}

.home-page__thread-create-new {
  margin-bottom: 24px;
}

.home-page__sidebar {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.home-page__divider {
  margin: 64px 0;
}

@media (min-width: 992px) {
  .home-page {
    grid-template-columns: 9fr 3fr;
    gap: 24px;
    padding: 0 48px;
  }
}