.thread-item-author {
  display: flex;
  gap: 8px;
  align-items: center;
  margin: 12px 0px 24px;
}

.thread-item-author__avatar {
  border-radius: 50%;
  width: 48px;
}

.thread-item-author__name {
  font-weight: 600;
}

.thread-item-author__time {
  margin-top: -4px;
}

.thread-item-author__information {
  display: flex;
  flex-direction: column;
  gap: 0px;
}