.login-page{
  background-color: var(--background-2);
  max-width: 376px;
  padding: 48px 16px;
  box-shadow: var(--box-shadow);
  margin: 25vh auto 0!important;
  text-align: left;
  border-radius: 12px;
}

.login-page__form {
  border-radius: var(--border-radius-xl);
}

.login-page__flash {
  margin: 16px 0 48px;
}

.login-page__form > input {
  margin-top: 24px;
}

.login-page__form > button {
  margin-top: 64px;
}

.login-page__action {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 48px;
  gap: 48px;
}

input{
  width: 100%;
}

.login-page__submit {
  flex: 1;
  text-wrap: nowrap;
}

@media (min-width: 400px) {
  .login-page {
    padding: 48px;
  }
}