.register-page{
  max-width: 400px;
  width: 80vw!important;
  margin: 20vh auto 0!important;
  box-shadow: var(--box-shadow-lg);
  background-color: var(--background-2);
  padding: 48px 16px;
  text-align: left;
  border-radius: 12px;
}

.register-page__form {
  border-radius: var(--border-radius-xl);
}

.register-page__flash {
  margin: 16px 0 48px;
}

.register-page__form > input {
  margin-top: 24px;
}

.register-page__form > button {
  margin-top: 48px;
}

.register-page__action {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 48px;
  gap: 48px;
}

.register-page__submit {
  flex: 1;
}

input {
  width: 100%;
}

@media (min-width: 576px) {
  .register-page {
    padding: 48px;
  }
}