header {
  background-color: var(--body-bg);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 8px 24px;
  box-shadow: var(--box-shadow);

  display: flex;
  justify-content: space-between;
}

header > img {
  width: 48px;
}