header {
  background-color: var(--body-bg);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: var(--box-shadow-sm);
}

.header__container {
  padding: 8px 48px;

  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: auto;
}

.header__tool {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__language-toggle {
  border-radius: 50%;
  border: 1px solid var(--black-1);
}

.header__theme-toggle,
.header__language-toggle {
  cursor: pointer;
}

.header__container > img {
  width: 48px;
}

.header__container .button-outlined{
  padding: 12px 24px!important;
}