.comment-item {
  background-color: var(--background-2)!important;
  border-radius: 12px;  
  position: relative;
} 

.comment-item__title {
  font-weight: 600;
}

.comment-item__content {
  margin: 24px 0 0;
  font: inherit;
}

.comment-item__author-reaction {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

@media (min-width: 576px) { }
@media (min-width: 992px) { }
@media (min-width: 1200px) { }
@media (min-width: 1400px) { }