
.detail-thread-page::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.detail-thread-page::-webkit-scrollbar-track {
  background: var(--white-2);
  border-radius: 4px;
}

.detail-thread-page::-webkit-scrollbar-thumb {
  background: var(--primary);
}

.detail-thread-page::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.detail-thread-page {
  background-color: var(--background-2);
  max-width: 768px;
  max-height: 90vh;
  overflow: auto;
  margin: auto;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 36px;
  box-shadow: var(--box-shadow);
  position: relative;
}

.detail-thread-page__title {
  display: flex;
  justify-content: space-between;
  padding: 24px 24px 0;
}

.detail-thread-page__content {
  padding: 0 24px;
}

.detail-thread-page__form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.detail-thread-page__form .textarea {
  height: 160px;
}

.detail-thread-page__divider {
  margin: 48px 0 36px;
}

.detail-thread-page__add-comment-form {
  position: sticky;
  left: 0;
  right: 0;
  bottom: 0;
}

.detail-thread-page__add-comment-form > :first-child {
  margin-bottom: 8px;
  margin: 0 16px;
}

.detail-thread-page__add-comment {
  padding: 24px;
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: var(--background-2);
  box-shadow: var(--box-shadow);
}

.detail-thread-page__input-comment {
  width: 100%;
}

.detail-thread-page__comments {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.detail-thread-page__send-comment {
  font-size: 24px;
  color: var(--primary);
  cursor: pointer;
  padding: 0!important;
  background: transparent;
  border: none;
}

.detail-thread-page__send-comment:hover {
  background: none;
}