:root {
    /* Typography Size */
    --font-size-1: 48px;
    --font-size-2: 40px;
    --font-size-3: 33px;
    --font-size-4: 28px;
    --font-size-5: 23px;
    --font-size-6: 19px;
    --font-size-small : 11px;
}

:root,
[data-theme=light] {
  --blue: #0d6efd;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #d63384;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #198754;
  --teal: #20c997;
  --cyan: #0dcaf0;
  --black: #000;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
  --primary: #0d6efd;
  --secondary: #6c757d;
  --success: #198754;
  --info: #0dcaf0;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #212529;
  --primary-rgb: 13, 110, 253;
  --secondary-rgb: 108, 117, 125;
  --success-rgb: 25, 135, 84;
  --info-rgb: 13, 202, 240;
  --warning-rgb: 255, 193, 7;
  --danger-rgb: 220, 53, 69;
  --light-rgb: 248, 249, 250;
  --dark-rgb: 33, 37, 41;
  --primary-text-emphasis: #052c65;
  --secondary-text-emphasis: #2b2f32;
  --success-text-emphasis: #0a3622;
  --info-text-emphasis: #055160;
  --warning-text-emphasis: #664d03;
  --danger-text-emphasis: #58151c;
  --light-text-emphasis: #495057;
  --dark-text-emphasis: #495057;
  --primary-bg-subtle: #cfe2ff;
  --secondary-bg-subtle: #e2e3e5;
  --success-bg-subtle: #d1e7dd;
  --info-bg-subtle: #cff4fc;
  --warning-bg-subtle: #fff3cd;
  --danger-bg-subtle: #f8d7da;
  --light-bg-subtle: #fcfcfd;
  --dark-bg-subtle: #ced4da;
  --primary-border-subtle: #9ec5fe;
  --secondary-border-subtle: #c4c8cb;
  --success-border-subtle: #a3cfbb;
  --info-border-subtle: #9eeaf9;
  --warning-border-subtle: #ffe69c;
  --danger-border-subtle: #f1aeb5;
  --light-border-subtle: #e9ecef;
  --dark-border-subtle: #adb5bd;
  --white-rgb: 255, 255, 255;
  --black-rgb: 0, 0, 0;
  --font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --body-font-family: var(--font-sans-serif);
  --body-font-size: 1rem;
  --body-font-weight: 400;
  --body-line-height: 1.5;
  --body-color: #212529;
  --body-color-rgb: 33, 37, 41;
  --body-bg: #fff;
  --body-bg-rgb: 255, 255, 255;
  --emphasis-color: #000;
  --emphasis-color-rgb: 0, 0, 0;
  --secondary-color: rgba(33, 37, 41, 0.75);
  --secondary-color-rgb: 33, 37, 41;
  --secondary-bg: #e9ecef;
  --secondary-bg-rgb: 233, 236, 239;
  --tertiary-color: rgba(33, 37, 41, 0.5);
  --tertiary-color-rgb: 33, 37, 41;
  --tertiary-bg: #f8f9fa;
  --tertiary-bg-rgb: 248, 249, 250;
  --heading-color: inherit;
  --link-color: #0d6efd;
  --link-color-rgb: 13, 110, 253;
  --link-decoration: underline;
  --link-hover-color: #0a58ca;
  --link-hover-color-rgb: 10, 88, 202;
  --code-color: #d63384;
  --highlight-color: #212529;
  --highlight-bg: #fff3cd;
  --border-width: 1px;
  --border-style: solid;
  --border-color: #dee2e6;
  --border-color-translucent: rgba(0, 0, 0, 0.175);
  --border-radius: 0.375rem;
  --border-radius-sm: 0.25rem;
  --border-radius-lg: 0.5rem;
  --border-radius-xl: 1rem;
  --border-radius-xxl: 2rem;
  --border-radius-2xl: var(--border-radius-xxl);
  --border-radius-pill: 50rem;


  --box-shadow: 0 0.5rem 1rem 0 rgba(26, 29, 32, 0.15);
  --box-shadow-primary: 0 0.5rem 1rem 0 rgba(13, 110, 253, 0.175);
  --box-shadow-sm: 0 0.125rem 0.25rem 0 rgba(26, 29, 32, 0.075);
  --box-shadow-lg: 0 1rem 3rem 0 rgba(26, 29, 32, 0.175);
  --box-shadow-inset: inset 0 1px 2px rgba(26, 29, 32, 0.075);
  --focus-ring-width: 0.25rem;
  --focus-ring-opacity: 0.25;
  --focus-ring-color: rgba(13, 110, 253, 0.25);
  --form-valid-color: #198754;
  --form-valid-border-color: #198754;
  --form-invalid-color: #dc3545;
  --form-invalid-border-color: #dc3545;
}

[data-theme=dark] {
  color-scheme: dark;
  --body-color: #dee2e6;
  --body-color-rgb: 222, 226, 230;
  --body-bg: #212529;
  --body-bg-rgb: 33, 37, 41;
  --emphasis-color: #fff;
  --emphasis-color-rgb: 255, 255, 255;
  --secondary-color: rgba(222, 226, 230, 0.75);
  --secondary-color-rgb: 222, 226, 230;
  --secondary-bg: #343a40;
  --secondary-bg-rgb: 52, 58, 64;
  --tertiary-color: rgba(222, 226, 230, 0.5);
  --tertiary-color-rgb: 222, 226, 230;
  --tertiary-bg: #2b3035;
  --tertiary-bg-rgb: 43, 48, 53;
  --primary-text-emphasis: #6ea8fe;
  --secondary-text-emphasis: #a7acb1;
  --success-text-emphasis: #75b798;
  --info-text-emphasis: #6edff6;
  --warning-text-emphasis: #ffda6a;
  --danger-text-emphasis: #ea868f;
  --light-text-emphasis: #f8f9fa;
  --dark-text-emphasis: #dee2e6;
  
  --primary-bg-subtle: #031633;
  --secondary-bg-subtle: #161719;
  --success-bg-subtle: #051b11;
  --info-bg-subtle: #032830;
  --warning-bg-subtle: #332701;
  --danger-bg-subtle: #2c0b0e;
  --light-bg-subtle: #343a40;
  --dark-bg-subtle: #1a1d20;
  --primary-border-subtle: #084298;
  --secondary-border-subtle: #41464b;
  --success-border-subtle: #0f5132;
  --info-border-subtle: #087990;
  --warning-border-subtle: #997404;
  --danger-border-subtle: #842029;
  --light-border-subtle: #495057;
  --dark-border-subtle: #343a40;
  --heading-color: inherit;
  --link-color: #6ea8fe;
  --link-hover-color: #8bb9fe;
  --link-color-rgb: 110, 168, 254;
  --link-hover-color-rgb: 139, 185, 254;
  --code-color: #e685b5;
  --highlight-color: #dee2e6;
  --highlight-bg: #664d03;
  --border-color: #495057;
  --border-color-translucent: rgba(255, 255, 255, 0.15);
  --form-valid-color: #75b798;
  --form-valid-border-color: #75b798;
  --form-invalid-color: #ea868f;
  --form-invalid-border-color: #ea868f;
}