:root {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 600;
  color: var(--link-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--link-hover-color);
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  font-size: var(--body-font-size);
  background-color: var(--background-1);
  color: var(--dark-text-emphasis);
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6, p {
  margin: 0;
  padding: 0;
  font-weight: 600;
}

p {
  font-weight: 400;
}

h1, .h1{
  font-size: var(--font-size-1);
}
h2, .h2{
  font-size: var(--font-size-2)!important;
}
h3, .h3{
  font-size: var(--font-size-3);
}
h4, .h4{
  font-size: var(--font-size-4);
}
h5, .h5{
  font-size: var(--font-size-5);
}
h6, .h6{
  font-size: var(--font-size-6);
}
.small {
  font-size: var(--font-size-small);
}

input,
textarea,
.textarea {
  display: block;
  padding: 12px 24px;
  border-radius: 12px;
  font-size: inherit;
  font-family: inherit;
  background-color: var(--white-1);
  border: var(--border-style) var(--border-width) var(--white-2);
  color: var(--black-2);
  box-sizing: border-box;
}

.textarea:focus,
input:focus {
  outline: var(--focus-ring-width) var(--border-style) var(--focus-ring-color);
}

input:-internal-autofill-selected {
  background-color: var(--green)!important;
}

.badge {
  padding: 4px 8px;
  border-radius: 4px;
  background-color: var(--primary);
  color: var(--light);
  width: fit-content;
  font-weight: normal;
}

.button-outlined {
  border: 1px solid var(--primary);
  color: var(--primary);
}

.button-filled {
  background-color: var(--primary);
  color: var(--light);
  border: none;
}

button,
.button {
  font-size: inherit;
  border-radius: 12px;
  padding: 16px 24px;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover,
button:disabled{
  background-color: var(--primary-text-emphasis);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}