:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-size: var(--body-font-size);
  background-color: var(--body-bg);
  color: var(--dark-text-emphasis);
}

h1, .h1,
h2, .h2,
h3, .h3, p {
  margin: 0;
}

h1, .h1{
  font-size: var(--font-size-1);
}
h2, .h2{
  font-size: var(--font-size-2)!important;
}
h3, .h3{
  font-size: var(--font-size-3);
}

input {
  display: block;
  padding: 16px;
  text-indent: 24px;
  background-color: transparent!important;
  border-radius: var(--border-radius-pill);
  font-size: inherit;
  border: var(--border-style) var(--border-width) var(--border-color-translucent);
  color: inherit;
  box-sizing: border-box;

  background-position: 16px 16px!important;
  background-size: 16px 16px!important;
  background-repeat: no-repeat;
  background-clip: border-box;
}

input:focus {
  outline: var(--focus-ring-width) var(--border-style) var(--focus-ring-color);
}

button {
  border-radius: var(--border-radius-pill);
  background-color: var(--primary);
  color: var(--light);
  box-shadow: var(--box-shadow-primary);
  padding: 16px 24px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  border: none;
}
button:hover {
  background-color: var(--primary-text-emphasis);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

a {
  color: var(--link-color);
}