.thread-item {
  background-color: var(--background-2)!important;
  border-radius: 12px;
  padding: 16px;
  position: relative;
} 

.thread-item__title {
  font-weight: 600;
}

.thread-item__content {
  margin: 24px 0 36px;
  font: inherit;
}

.thread-item__author-reaction {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 24px;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

@media (min-width: 576px) { }
@media (min-width: 768px) {
  .thread-item {
    padding: 48px;
  }
}
@media (min-width: 992px) { }
@media (min-width: 1200px) { }
@media (min-width: 1400px) { }